# Localhost
POSTGRES_SERVER=localhost

ENV=prod

POSTGRES_USER=timescaledb
POSTGRES_PASSWORD=timescaledb
POSTGRES_DB=timescaledb

FRONTEND_URL=http://localhost:3000
CURRENT_SERVER_URL="http://localhost:8000"

ACCESS_TOKEN_EXPIRE_MINUTES=14400000
REFRESH_TOKEN_EXPIRE_DAYS=30
VERIFICATION_TOKEN_EXPIRE_MINUTES=10

SECRET_KEY="SECRET_KEY_FOR_JWT_TOKEN"
SLACK_STATE_ENCRYPTION_KEY="ENCRYPTION_KEY_FOR_SLACK_STATE"

GROQ_API_KEY="GROQ_API_KEY"
OPENAI_API_KEY="OPENAI_API_KEY"
CLAUDE_API_KEY="CLAUDE_API_KEY"

SLACK_EARLY_ACCESS_USERS_WEBHOOK_URL="SLACK_EARLY_ACCESS_USERS_WEBHOOK_URL"
SLACK_ERRORS_WEBHOOK_URL="SLACK_ERRORS_WEBHOOK_URL"
SLACK_CLIENT_ID="SLACK_CLIENT_ID"
SLACK_CLIENT_SECRET="SLACK_CLIENT_SECRET"
SLACK_SIGNING_SECRET="SLACK_SIGNING_SECRET"

# Email Verification
VERIFICATION_EMAIL_SENDER="VERIFICATION_EMAIL_SENDER"
SENDGRID_API_KEY = 'SENDGRID_API_KEY'
SENDGRID_SECRET_KEY ='SENDGRID_SECRET_KEY'

SSL_CERT_PATH="/etc/ssl/cert.pem"

DATA_SOURCE_CONNECTOR_CACHE_MAXSIZE=1

TRY_IT_OUT_ORGANISATION_ID=32
TRY_IT_OUT_CHARTER_IDS_STR=15,16,17

SUPER_ADMIN_EMAILS_STR="SUPER_ADMIN_EMAILS_STR_COMMA_SEPARATED"

# Optional. 
# IMPORTANT: Must be always set to FALSE in production.
IS_BENCHMARK_MODE=True

# Optional. Default is 100.
DEFAULT_QUERY_LIMIT=100

# Optional. Default is 120 seconds.
DEFAULT_QUERY_TIMEOUT=30